<div class="row justify-content-center">
  <div class="col-8">
    <form name="searchForm" role="form" novalidate (ngSubmit)="find()" [formGroup]="searchForm">
      <h2 id="jhi-player-heading" data-cy="PlayerSearchHeading" jhiTranslate="pbpointsApp.player.home.createOrEditLabel">Search a User</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" />
        </div>
      </div>
      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" data-cy="entityFindButton" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.find">Find</span>
        </button>
      </div>
      <br />
      <h2>Usuario</h2>
      <div class="alert alert-warning" id="no-result" *ngIf="userExtras?.length === 0">
        <span jhiTranslate="pbpointsApp.player.home.notFound">No Users found</span>
      </div>

      <div class="table-responsive" id="entities" *ngIf="userExtras && userExtras.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
              <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
              <th scope="col">
                <span jhiTranslate="pbpointsApp.player.search.picture">Picture</span>
              </th>
              <th scope="col">
                <span jhiTranslate="pbpointsApp.player.search.username">Name</span>
              </th>
              <th scope="col">
                <span jhiTranslate="pbpointsApp.player.search.numDoc">Num Doc</span>
              </th>
              <th scope="col">
                <span jhiTranslate="pbpointsApp.player.search.phone">Phone</span>
              </th>
              <th scope="col">
                <span jhiTranslate="pbpointsApp.player.search.bornDate">Born Date</span>
              </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody
            infinite-scroll
            (scrolled)="loadPage(page + 1)"
            [infiniteScrollDisabled]="page >= links['last']"
            [infiniteScrollDistance]="0"
          >
            <tr *ngFor="let userExtra of userExtras; trackBy: trackUserExtraId" data-cy="entityTable">
              <td>{{ userExtra.id }}</td>
              <td>
                <a *ngIf="userExtra.picture" (click)="openFile(userExtra.picture, userExtra.pictureContentType)">
                  <img
                    [src]="'data:' + userExtra.pictureContentType + ';base64,' + userExtra.picture"
                    style="max-height: 70px"
                    alt="userExtra image"
                  />
                </a>
              </td>
              <td>{{ userExtra.user?.lastName }},{{ userExtra.user?.firstName }}</td>
              <td>{{ userExtra.numDoc }}</td>
              <td>{{ userExtra.phone }}</td>
              <td>{{ userExtra.bornDate | formatMediumDate }}</td>
              <td>
                <a *ngIf="suspendido()">
                  <button
                    id="jh-create-entity-back"
                    class="btn btn-danger btn-sm"
                    (click)="Suspend(userExtra?.user)"
                    data-toggle="tooltip"
                    [title]="'global.menu.back' | translate"
                  >
                    <fa-icon [icon]="'exclamation'"></fa-icon>
                    <span jhiTranslate="pbpointsApp.player.search.suspend">Suspend</span>
                  </button>
                </a>
                <a *ngIf="!suspendido()">
                  <button
                    id="jh-create-entity-back2"
                    class="btn btn-danger btn-sm"
                    (click)="Suspend(userExtra?.user)"
                    data-toggle="tooltip"
                    [title]="'global.menu.back' | translate"
                  >
                    <fa-icon [icon]="'exclamation'"></fa-icon>
                    <span jhiTranslate="pbpointsApp.player.search.bornDate">Back</span>
                  </button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <h2>Equipos</h2>
      <div class="alert alert-warning" *ngIf="teams?.length === 0">
        <span jhiTranslate="pbpointsApp.team.home.notFound">No Teams found</span>
      </div>
      <div class="table-responsive" *ngIf="teams && teams.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
              <th scope="col"><span jhiTranslate="pbpointsApp.team.name">Name</span></th>
              <th scope="col">
                <span jhiTranslate="pbpointsApp.team.active">Active</span>
              </th>
            </tr>
          </thead>
          <tbody
            infinite-scroll
            (scrolled)="loadPage(page + 1)"
            [infiniteScrollDisabled]="page >= links['last']"
            [infiniteScrollDistance]="0"
          >
            <tr *ngFor="let team of teams; trackBy: trackTeamId" data-cy="entityTable">
              <td>{{ team.name }}</td>
              <td>
                <div *ngIf="team.active"><span jhiTranslate="pbpointsApp.player.yes">Yes</span></div>
                <div *ngIf="!team.active"><span jhiTranslate="pbpointsApp.player.no">No</span></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <h2>Rosters</h2>
      <div class="alert alert-warning" *ngIf="players?.length === 0">
        <span jhiTranslate="pbpointsApp.player.home.notFound">No Players found</span>
      </div>
      <div class="table-responsive" *ngIf="players && players.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
              <th scope="col">
                <span jhiTranslate="pbpointsApp.player.search.event">Event</span>
              </th>
              <th scope="col">
                <span jhiTranslate="pbpointsApp.player.search.category">Category</span>
              </th>
              <th scope="col">
                <span jhiTranslate="pbpointsApp.player.search.team">Name</span>
              </th>
            </tr>
          </thead>
          <tbody
            infinite-scroll
            (scrolled)="loadPage(page + 1)"
            [infiniteScrollDisabled]="page >= links['last']"
            [infiniteScrollDistance]="0"
          >
            <tr *ngFor="let player of players; trackBy: trackPlayerId">
              <td>{{ player.roster?.eventCategory?.event?.tournament?.name }} - {{ player.roster?.eventCategory?.event?.name }}</td>
              <td>{{ player.roster?.eventCategory?.category?.name }}</td>
              <td>{{ player.roster?.team?.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <h2>Puntos</h2>
      <div class="alert alert-warning" *ngIf="playerPoints?.length === 0">
        <span jhiTranslate="pbpointsApp.playerPoint.home.notFound">No Points found</span>
      </div>
      <div class="table-responsive" id="entities" *ngIf="playerPoints && playerPoints.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
              <!--<th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
              <th scope="col">
                <span jhiTranslate="pbpointsApp.playerPoint.tournament">Tournament</span>
              </th>
              <th scope="col">
                <span jhiTranslate="pbpointsApp.playerPoint.category">Category</span>
              </th>
              <th scope="col">
                <span jhiTranslate="pbpointsApp.playerPoint.points">Points</span>
              </th>
            </tr>
          </thead>
          <tbody
            infinite-scroll
            (scrolled)="loadPage(page + 1)"
            [infiniteScrollDisabled]="page >= links['last']"
            [infiniteScrollDistance]="0"
          >
            <tr *ngFor="let playerPoint of playerPoints; trackBy: trackPlayerPointId" data-cy="entityTable">
              <td>{{ playerPoint.tournament?.name }}</td>
              <td>{{ playerPoint.category?.name }}</td>
              <td>{{ playerPoint.points }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
