<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="suspension">
      <h2 data-cy="suspensionDetailsHeading"><span jhiTranslate="pbpointsApp.suspension.detail.title">Suspension</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ suspension.id }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.suspension.startDate">Start Date</span></dt>
        <dd>
          <span>{{ suspension.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.suspension.endDate">End Date</span></dt>
        <dd>
          <span>{{ suspension.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.suspension.user">User</span></dt>
        <dd>
          <span>{{ suspension.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/suspension', suspension.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
