<div class="row justify-content-center">
  <div class="col-8">
    <form name="findForm" role="form" novalidate [formGroup]="findForm">
      <!--<h2 id="jhi-roster-heading" data-cy="RosterCreateSearchHeading" jhiTranslate="pbpointsApp.roster.search.home.title">Title</h2>-->
      <h2>{{ eventCategory!.event!.tournament!.name! }}, {{ eventCategory!.event!.name! }}</h2>
      <h3>Categoria: {{ eventCategory!.category!.name! }}</h3>
      <br />
      <jhi-alert-error></jhi-alert-error>
      <div class="form-group">
        <label class="form-control-label" jhiTranslate="pbpointsApp.roster.team" for="field_team">Team</label>
        <select class="form-control" id="field_team" data-cy="team" name="team" formControlName="team" (ngModelChange)="onChange()">
          <option
            [ngValue]="teamOption.id === findForm.get('team')!.value?.id ? findForm.get('team')!.value : teamOption"
            *ngFor="let teamOption of teamsSharedCollection; trackBy: trackTeamById"
          >
            {{ teamOption.name }}
          </option>
        </select>
      </div>
      <div *ngIf="findForm.get(['team'])!.invalid && (findForm.get(['team'])!.dirty || findForm.get(['team'])!.touched)">
        <small class="form-text text-danger" *ngIf="findForm.get(['team'])?.errors?.required" jhiTranslate="entity.validation.required">
          This field is required.
        </small>
      </div>
      <table class="table" [hidden]="findForm.get('team')!.value == null">
        <tr>
          <td width="40%">
            <div class="form-group">
              <label class="form-control-label" jhiTranslate="pbpointsApp.player.id" for="field_id">PBPointsId</label>
              <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" />
            </div>
          </td>
          <td width="10%">
            <div class="form-group">
              <label class="form-control-label" jhiTranslate="pbpointsApp.player.code" for="field_code">PBPointsId</label>
              <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
            </div>
          </td>
          <td width="30%">
            <div class="form-group">
              <label class="form-control-label" jhiTranslate="pbpointsApp.player.profile" for="field_profile">Profile</label>
              <select class="form-control" name="profile" formControlName="profile" id="field_profile" data-cy="profile">
                <option value="PLAYER">{{ 'pbpointsApp.ProfileUser.PLAYER' | translate }}</option>
                <option value="STAFF">{{ 'pbpointsApp.ProfileUser.STAFF' | translate }}</option>
              </select>
            </div>
          </td>
          <td width="20%" style="vertical-align: bottom">
            <div class="form-group" [hidden]="findForm.get('team')!.value == null">
              <button (click)="addNewPlayer()" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary">
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="pbpointsApp.roster.subs.add">Add</span>
              </button>
            </div>
          </td>
        </tr>
      </table>
      <table class="table" [hidden]="findForm.get('team')!.value == null">
        <tr>
          <td>
            <h4 jhiTranslate="pbpointsApp.roster.subs.history">History</h4>
            <table class="table table-striped" aria-describedby="page-heading" align="right">
              <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                  <th scope="col"><span jhiTranslate="pbpointsApp.roster.search.player">Player</span></th>
                  <th scope="col"><span jhiTranslate="pbpointsApp.player.category">Category</span></th>
                  <th scope="col"><span jhiTranslate="pbpointsApp.player.profile">Profile</span></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let roster of rosters; trackBy: trackRosterId" data-cy="entityTable">
                  <tr *ngFor="let player of players; trackBy: trackPlayerId" data-cy="entityTable">
                    <ng-container *ngIf="roster.id == player.roster?.id">
                      <td>{{ player.user?.lastName }}, {{ player.user?.firstName }}</td>
                      <td>{{ player.category?.name }}</td>
                      <td jhiTranslate="{{ 'pbpointsApp.ProfileUser.' + player.profile }}">{{ player.profile }}</td>
                      <td class="text-right">
                        <div class="btn-group">
                          <button type="submit" (click)="addStaff(player)" data-cy="entityStaffButton" class="btn btn-primary">
                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="pbpointsApp.ProfileUser.STAFF">Staff</span>
                          </button>
                          <button type="submit" (click)="addPlayer(player)" data-cy="entityStaffButton" class="btn btn-primary">
                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="pbpointsApp.ProfileUser.PLAYER">Player</span>
                          </button>
                        </div>
                      </td>
                    </ng-container>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <br />
          </td>
          <td style="vertical-align: top" width="50%">
            <!-- Listar Players y Staff nuevos-->
            <h4 jhiTranslate="pbpointsApp.roster.subs.player">Players</h4>
            <div class="alert alert-warning" *ngIf="playerNews?.length === 0">
              <span jhiTranslate="pbpointsApp.player.home.notFound">No players found</span>
            </div>

            <div class="table-responsive" *ngIf="playerNews && playerNews.length > 0">
              <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                  <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"><span jhiTranslate="pbpointsApp.roster.search.player">Player</span></th>
                    <th scope="col"><span jhiTranslate="pbpointsApp.player.category">Category</span></th>
                    <th scope="col"><span jhiTranslate="pbpointsApp.player.profile">Profile</span></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let playerNew of playerNews; trackBy: trackPlayerId" data-cy="entityTable">
                    <ng-container *ngIf="playerNew.profile === 'PLAYER'">
                      <td>{{ playerNew.user?.lastName }}, {{ playerNew.user?.firstName }}</td>
                      <td>{{ playerNew.category?.name }}</td>
                      <td jhiTranslate="{{ 'pbpointsApp.ProfileUser.' + playerNew.profile }}">{{ playerNew.profile }}</td>
                      <td class="text-right">
                        <div class="btn-group">
                          <button type="submit" (click)="addStaff(playerNew)" data-cy="entityStaffButton" class="btn btn-primary">
                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="pbpointsApp.ProfileUser.STAFF">Staff</span>
                          </button>
                          <button type="submit" (click)="delPlayer(playerNew)" data-cy="entityStaffButton" class="btn btn-primary">
                            <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="pbpointsApp.roster.subs.delete">Delete</span>
                          </button>
                        </div>
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </div>
            <br />
            <h4 jhiTranslate="pbpointsApp.roster.subs.staff">Staff</h4>
            <div class="alert alert-warning" id="no-result" *ngIf="playerNews?.length === 0">
              <span jhiTranslate="pbpointsApp.player.home.notFound">No players found</span>
            </div>

            <div class="table-responsive" id="entities" *ngIf="playerNews && playerNews.length > 0">
              <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                  <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"><span jhiTranslate="pbpointsApp.roster.search.player">Player</span></th>
                    <th scope="col"><span jhiTranslate="pbpointsApp.player.category">Category</span></th>
                    <th scope="col"><span jhiTranslate="pbpointsApp.player.profile">Profile</span></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let playerNew of playerNews; trackBy: trackPlayerId" data-cy="entityTable">
                    <ng-container *ngIf="playerNew.profile === 'STAFF'">
                      <td>{{ playerNew.user?.lastName }}, {{ playerNew.user?.firstName }}</td>
                      <td>{{ playerNew.category?.name }}</td>
                      <td jhiTranslate="{{ 'pbpointsApp.ProfileUser.' + playerNew.profile }}">{{ playerNew.profile }}</td>
                      <td class="text-right">
                        <div class="btn-group">
                          <button type="submit" (click)="addPlayer(playerNew)" class="btn btn-primary">
                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="pbpointsApp.ProfileUser.PLAYER">Player</span>
                          </button>
                          <button type="submit" (click)="delPlayer(playerNew)" class="btn btn-primary">
                            <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="pbpointsApp.roster.subs.delete">Delete</span>
                          </button>
                        </div>
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </table>

      <div class="row justify-content-center">
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" data-cy="entityCreateSaveButton" class="btn btn-primary" [disabled]="!enableSaveAll()" (click)="saveAll()">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
