<div>
  <h2 id="page-heading" data-cy="SeasonHeading">
    <span jhiTranslate="pbpointsApp.season.home.title">Seasons</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-season"
        [routerLink]="['/season/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pbpointsApp.season.home.createLabel"> Create a new Season </span>
      </button>
      <button
        id="jh-create-entity-back"
        class="btn btn-primary float-right jh-create-entity create-province"
        (click)="Cancel()"
        data-toggle="tooltip"
        [title]="'global.menu.back' | translate"
      >
        <fa-icon [icon]="'arrow-left'"></fa-icon>
        <span jhiTranslate="global.menu.back">Back</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="seasons?.length === 0">
    <span jhiTranslate="pbpointsApp.season.home.notFound">No seasons found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="seasons && seasons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.season.tournament">Tournament</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.season.anio">Anio</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.season.status">Status</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let season of seasons; trackBy: trackId" data-cy="entityTable">
          <td>{{ season.id }}</td>
          <td>{{ season.tournament?.name }}</td>
          <td>{{ season.anio }}</td>
          <td jhiTranslate="{{ 'pbpointsApp.Status.' + season.status }}">{{ season.status }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/season', season.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(season)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
