<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-formula-heading" data-cy="FormulaCreateUpdateHeading" jhiTranslate="pbpointsApp.formula.home.createOrEditLabel">
        Create or edit a Formula
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.formula.formula" for="field_formula">Formula</label>
          <input type="text" class="form-control" name="formula" id="field_formula" data-cy="formula" formControlName="formula" />
          <div *ngIf="editForm.get('formula')!.invalid && (editForm.get('formula')!.dirty || editForm.get('formula')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('formula')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.formula.var1" for="field_var1">Var 1</label>
          <input type="text" class="form-control" name="var1" id="field_var1" data-cy="var1" formControlName="var1" />
          <div *ngIf="editForm.get('var1')!.invalid && (editForm.get('var1')!.dirty || editForm.get('var1')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('var1')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.formula.var2" for="field_var2">Var 2</label>
          <input type="text" class="form-control" name="var2" id="field_var2" data-cy="var2" formControlName="var2" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.formula.var3" for="field_var3">Var 3</label>
          <input type="text" class="form-control" name="var3" id="field_var3" data-cy="var3" formControlName="var3" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.formula.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.formula.example" for="field_example">Example</label>
          <input type="text" class="form-control" name="example" id="field_example" data-cy="example" formControlName="example" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.formula.tournament" for="field_tournament">Tournament</label>
          <select class="form-control" id="field_tournament" data-cy="tournament" name="tournament" formControlName="tournament">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                tournamentOption.id === editForm.get('tournament')!.value?.id ? editForm.get('tournament')!.value : tournamentOption
              "
              *ngFor="let tournamentOption of tournamentsSharedCollection; trackBy: trackTournamentById"
            >
              {{ tournamentOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
