<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="city">
      <h2 data-cy="cityDetailsHeading"><span jhiTranslate="pbpointsApp.city.detail.title">City</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ city.id }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.city.name">Name</span></dt>
        <dd>
          <span>{{ city.name }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.city.latitude">Latitude</span></dt>
        <dd>
          <span>{{ city.latitude }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.city.longitude">Longitude</span></dt>
        <dd>
          <span>{{ city.longitude }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.city.province">Province</span></dt>
        <dd>
          <div *ngIf="city.province">
            <a [routerLink]="['/province', city.province?.id, 'view']">{{ city.province?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/city', city.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
