<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="event">
      <h2 data-cy="eventDetailsHeading"><span jhiTranslate="pbpointsApp.event.detail.title">Event</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ event.id }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.event.name">Name</span></dt>
        <dd>
          <span>{{ event.name }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.event.fromDate">From Date</span></dt>
        <dd>
          <span>{{ event.fromDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.event.endDate">End Date</span></dt>
        <dd>
          <span>{{ event.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.event.endInscriptionDate">End Inscription Date</span></dt>
        <dd>
          <span>{{ event.endInscriptionDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.event.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pbpointsApp.Status.' + event.status }}">{{ event.status }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.event.createDate">Create Date</span></dt>
        <dd>
          <span>{{ event.createDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.event.updatedDate">Updated Date</span></dt>
        <dd>
          <span>{{ event.updatedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.event.endInscriptionPlayersDate">End Inscription Players Date</span></dt>
        <dd>
          <span>{{ event.endInscriptionPlayersDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.event.tournament">Tournament</span></dt>
        <dd>
          <div *ngIf="event.tournament">
            <a [routerLink]="['/tournament', event.tournament?.id, 'view']">{{ event.tournament?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pbpointsApp.event.field">Field</span></dt>
        <dd>
          <div *ngIf="event.field">
            <a [routerLink]="['/field', event.field?.id, 'view']">{{ event.field?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/event', event.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
