<div>
  <h2 id="page-heading" data-cy="TournamentHeading">
    <span jhiTranslate="pbpointsApp.tournament.home.title">Tournaments</span>

    <div class="d-flex justify-content-end">
      <!--<button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pbpointsApp.tournament.home.refreshListLabel">Refresh List</span>
      </button>-->

      <button
        *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tournament"
        [routerLink]="['/tournament/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pbpointsApp.tournament.home.createLabel"> Create a new Tournament </span>
      </button>
      <button
        id="jh-create-entity-back"
        class="btn btn-primary float-right jh-create-entity create-tournament"
        (click)="Cancel()"
        data-toggle="tooltip"
        [title]="'global.menu.back' | translate"
      >
        <fa-icon [icon]="'arrow-left'"></fa-icon>
        <span jhiTranslate="global.menu.back">Back</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tournaments?.length === 0">
    <span jhiTranslate="pbpointsApp.tournament.home.notFound">No tournaments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tournaments && tournaments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col"><span jhiTranslate="pbpointsApp.tournament.logo">Logo</span></th>
          <!--<th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th scope="col" jhiSortBy="name"><span jhiTranslate="pbpointsApp.tournament.name">Name</span></th>
          <th scope="col" *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'">
            <span jhiTranslate="pbpointsApp.tournament.closeInscrDays">Close Inscr Days</span>
          </th>
          <th scope="col" *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'">
            <span jhiTranslate="pbpointsApp.tournament.status">Status</span>
          </th>
          <th scope="col" *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'">
            <span jhiTranslate="pbpointsApp.tournament.cantPlayersNextCategory">Cant Players Next Category</span>
          </th>
          <th scope="col" *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'">
            <span jhiTranslate="pbpointsApp.tournament.categorize">Categorize</span>
          </th>
          <th scope="col" *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="pbpointsApp.tournament.owner">Owner</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let tournament of tournaments; trackBy: trackId" data-cy="entityTable">
          <!-- <td><a [routerLink]="['/tournament', tournament.id, 'view' ]">{{tournament.id}}</a></td>-->
          <td>
            <a *ngIf="tournament.logo" (click)="openFile(tournament.logo, tournament.logoContentType)">
              <img
                [src]="'data:' + tournament.logoContentType + ';base64,' + tournament.logo"
                style="max-height: 30px"
                alt="tournament image"
              />
            </a>
            <!--<span *ngIf="tournament.logo">{{ tournament.logoContentType }}, {{ byteSize(tournament.logo) }}</span>-->
          </td>
          <td>{{ tournament.name }}</td>
          <td *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'">{{ tournament.closeInscrDays }}</td>
          <td *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'" jhiTranslate="{{ 'pbpointsApp.Status.' + tournament.status }}">
            {{ tournament.status }}
          </td>
          <td *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'">{{ tournament.cantPlayersNextCategory }}</td>
          <td *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'">{{ tournament.categorize }}</td>
          <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{ tournament.owner?.login }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/event']"
                [queryParams]="{ tourId: tournament.id }"
                class="btn btn-primary btn-sm"
                data-toggle="tooltip"
                [title]="'global.menu.custom.view.event' | translate"
              >
                <fa-icon [icon]="'calendar-alt'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="global.menu.custom.view.event">Events</span>
              </button>
              <button
                *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'"
                type="submit"
                [routerLink]="['/category']"
                [queryParams]="{ tourId: tournament.id }"
                class="btn btn-primary btn-sm"
                data-toggle="tooltip"
                [title]="'global.menu.custom.view.category' | translate"
              >
                <fa-icon [icon]="'list-ol'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="global.menu.custom.view.category">Categories</span>
              </button>
              <button
                *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'"
                type="submit"
                [routerLink]="['/format']"
                [queryParams]="{ tourId: tournament.id }"
                class="btn btn-primary btn-sm"
                data-toggle="tooltip"
                [title]="'global.menu.custom.view.format' | translate"
              >
                <fa-icon [icon]="'chalkboard-teacher'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="global.menu.custom.view.format">Formats</span>
              </button>
              <button
                *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'"
                type="submit"
                [routerLink]="['/tournament', tournament.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'"
                type="submit"
                (click)="delete(tournament)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon [icon]="'times'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
