<div>
  <h2 id="page-heading" data-cy="BracketHeading">
    <span jhiTranslate="pbpointsApp.bracket.home.title">Brackets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pbpointsApp.bracket.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bracket"
        [routerLink]="['/bracket/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pbpointsApp.bracket.home.createLabel"> Create a new Bracket </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="brackets?.length === 0">
    <span jhiTranslate="pbpointsApp.bracket.home.notFound">No brackets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="brackets && brackets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.bracket.teams">Teams</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.bracket.teams5A">Teams 5 A</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.bracket.teams5B">Teams 5 B</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.bracket.teams6A">Teams 6 A</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.bracket.teams6B">Teams 6 B</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bracket of brackets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bracket', bracket.id, 'view']">{{ bracket.id }}</a>
          </td>
          <td>{{ bracket.teams }}</td>
          <td>{{ bracket.teams5A }}</td>
          <td>{{ bracket.teams5B }}</td>
          <td>{{ bracket.teams6A }}</td>
          <td>{{ bracket.teams6B }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/bracket', bracket.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/bracket', bracket.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bracket)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
