<div>
  <h2 id="page-heading" data-cy="TeamPointHeading">
    <span jhiTranslate="pbpointsApp.teamPoint.home.title">Team Points</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pbpointsApp.teamPoint.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-team-point"
        [routerLink]="['/team-point/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pbpointsApp.teamPoint.home.createLabel"> Create a new Team Point </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="teamPoints?.length === 0">
    <span jhiTranslate="pbpointsApp.teamPoint.home.notFound">No teamPoints found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="teamPoints && teamPoints.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="points">
            <span jhiTranslate="pbpointsApp.teamPoint.points">Points</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="team.name">
            <span jhiTranslate="pbpointsApp.teamPoint.team">Team</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tournament.name">
            <span jhiTranslate="pbpointsApp.teamPoint.tournament">Tournament</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teamPoint of teamPoints; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/team-point', teamPoint.id, 'view']">{{ teamPoint.id }}</a>
          </td>
          <td>{{ teamPoint.points }}</td>
          <td>
            <div *ngIf="teamPoint.team">
              <a [routerLink]="['/team', teamPoint.team?.id, 'view']">{{ teamPoint.team?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="teamPoint.tournament">
              <a [routerLink]="['/tournament', teamPoint.tournament?.id, 'view']">{{ teamPoint.tournament?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/team-point', teamPoint.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/team-point', teamPoint.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(teamPoint)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="teamPoints && teamPoints.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
