<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-team-category-point-heading"
        data-cy="TeamCategoryPointCreateUpdateHeading"
        jhiTranslate="pbpointsApp.teamCategoryPoint.home.createOrEditLabel"
      >
        Create or edit a Team Category Point
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.teamCategoryPoint.points" for="field_points">Points</label>
          <input type="number" class="form-control" name="points" id="field_points" data-cy="points" formControlName="points" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.teamCategoryPoint.position" for="field_position">Position</label>
          <input type="number" class="form-control" name="position" id="field_position" data-cy="position" formControlName="position" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.teamCategoryPoint.teamDetailPoint" for="field_teamDetailPoint"
            >Team Detail Point</label
          >
          <select
            class="form-control"
            id="field_teamDetailPoint"
            data-cy="teamDetailPoint"
            name="teamDetailPoint"
            formControlName="teamDetailPoint"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                teamDetailPointOption.id === editForm.get('teamDetailPoint')!.value?.id
                  ? editForm.get('teamDetailPoint')!.value
                  : teamDetailPointOption
              "
              *ngFor="let teamDetailPointOption of teamDetailPointsSharedCollection; trackBy: trackTeamDetailPointById"
            >
              {{ teamDetailPointOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.teamCategoryPoint.eventCategory" for="field_eventCategory"
            >Event Category</label
          >
          <select
            class="form-control"
            id="field_eventCategory"
            data-cy="eventCategory"
            name="eventCategory"
            formControlName="eventCategory"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                eventCategoryOption.id === editForm.get('eventCategory')!.value?.id
                  ? editForm.get('eventCategory')!.value
                  : eventCategoryOption
              "
              *ngFor="let eventCategoryOption of eventCategoriesSharedCollection; trackBy: trackEventCategoryById"
            >
              {{ eventCategoryOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
