<div>
  <h2 id="page-heading" data-cy="FormatHeading">
    <span jhiTranslate="pbpointsApp.format.home.title">Formats</span>

    <div class="d-flex justify-content-end">
      <!--<button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pbpointsApp.format.home.refreshListLabel">Refresh List</span>
      </button>-->
      <button id="jh-create-entity-back" class="btn btn-primary float-right jh-create-entity create-event-format" (click)="Cancel()">
        <span jhiTranslate="global.menu.back">Back</span>
      </button>
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-format"
        [routerLink]="['/format/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pbpointsApp.format.home.createLabel"> Create a new Format </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formats?.length === 0">
    <span jhiTranslate="pbpointsApp.format.home.notFound">No formats found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="formats && formats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <!--<th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th scope="col" jhiSortBy="tournament.name">
            <span jhiTranslate="pbpointsApp.format.tournament">Tournament</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="pbpointsApp.format.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="pbpointsApp.format.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'" scope="col" jhiSortBy="coeficient">
            <span jhiTranslate="pbpointsApp.format.coeficient">Coeficient</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'" scope="col" jhiSortBy="playersQty">
            <span jhiTranslate="pbpointsApp.format.playersQty">Players Qty</span> <fa-icon icon="sort"></fa-icon>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let format of formats; trackBy: trackId" data-cy="entityTable">
          <!--<td>
            <a [routerLink]="['/format', format.id, 'view']">{{ format.id }}</a>
          </td>-->
          <td>{{ format.tournament?.name }}</td>
          <td>{{ format.name }}</td>
          <td>{{ format.description }}</td>
          <td *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'">{{ format.coeficient }}</td>
          <td *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'">{{ format.playersQty }}</td>

          <td class="text-right">
            <div class="btn-group">
              <!--<button type="submit" [routerLink]="['/format', format.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>-->

              <button type="submit" [routerLink]="['/format', format.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(format)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
