<div>
  <h2 id="page-heading" data-cy="RosterHeading">
    <span jhiTranslate="pbpointsApp.roster.home.title">Rosters</span>

    <div class="d-flex justify-content-end">
      <!--<button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pbpointsApp.roster.home.refreshListLabel">Refresh List</span>
      </button>-->
      <button id="jh-create-entity-back" class="btn btn-primary float-right jh-create-entity create-roster" (click)="Cancel()">
        <span jhiTranslate="global.menu.back">Back</span>
      </button>
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-roster"
        [routerLink]="['/roster/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pbpointsApp.roster.home.createLabel"> Create a new Roster </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="rosters?.length === 0">
    <span jhiTranslate="pbpointsApp.roster.home.notFound">No rosters found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="rosters && rosters.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <!--<th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th scope="col"><span jhiTranslate="pbpointsApp.roster.tournamentEvent">Tournament</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.roster.category">Event</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.roster.team">Team</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'">
            <span jhiTranslate="pbpointsApp.roster.active">Active</span> <fa-icon icon="sort"></fa-icon>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let roster of rosters; trackBy: trackId" data-cy="entityTable">
          <!--<td><a [routerLink]="['/roster', roster.id, 'view']">{{ roster.id }}</a></td>-->

          <td>{{ roster.eventCategory?.event?.tournament?.name }} - {{ roster.eventCategory?.event?.name }}</td>
          <td>{{ roster.eventCategory?.category?.name }}</td>
          <td>{{ roster.team?.name }}</td>
          <td *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'">{{ roster.active }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/player']" [queryParams]="{ rId: roster.id }" class="btn btn-primary btn-sm">
                <fa-icon [icon]="'user'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="global.menu.custom.view.player">View</span>
              </button>
              <button
                *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'"
                type="submit"
                [routerLink]="['/roster', roster.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'"
                type="submit"
                (click)="delete(roster)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="rosters && rosters.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
