<div>
  <h2 id="page-heading" data-cy="ProvinceHeading">
    <span jhiTranslate="pbpointsApp.province.home.title">Provinces</span>

    <div class="d-flex justify-content-end">
      <!--<button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pbpointsApp.province.home.refreshListLabel">Refresh List</span>
      </button>-->
      <button
        id="jh-create-entity-back"
        class="btn btn-primary float-right jh-create-entity create-province"
        (click)="Cancel()"
        data-toggle="tooltip"
        [title]="'global.menu.back' | translate"
      >
        <fa-icon [icon]="'arrow-left'"></fa-icon>
        <span jhiTranslate="global.menu.back">Back</span>
      </button>
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-province"
        [routerLink]="['/province/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pbpointsApp.province.home.createLabel"> Create a new Province </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="provinces?.length === 0">
    <span jhiTranslate="pbpointsApp.province.home.notFound">No provinces found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="provinces && provinces.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <!--<th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th scope="col" jhiSortBy="country.name">
            <span jhiTranslate="pbpointsApp.province.country">Country</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="pbpointsApp.province.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let province of provinces; trackBy: trackId" data-cy="entityTable">
          <!--<td>
            <a [routerLink]="['/province', province.id, 'view']">{{ province.id }}</a>
          </td>-->
          <td>{{ province.country?.name }}</td>
          <td>{{ province.name }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/city']"
                [queryParams]="{ pId: province.id }"
                class="btn btn-primary btn-sm"
                data-toggle="tooltip"
                [title]="'global.menu.custom.view.city' | translate"
              >
                <fa-icon [icon]="'building'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="global.menu.custom.view.city">Cities</span>
              </button>
              <button
                type="submit"
                [routerLink]="['/province', province.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(province)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
