<div>
  <h2 id="page-heading" data-cy="TeamCategoryPointHeading">
    <span jhiTranslate="pbpointsApp.teamCategoryPoint.home.title">Team Category Points</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pbpointsApp.teamCategoryPoint.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-team-category-point"
        [routerLink]="['/team-category-point/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pbpointsApp.teamCategoryPoint.home.createLabel"> Create a new Team Category Point </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="teamCategoryPoints?.length === 0">
    <span jhiTranslate="pbpointsApp.teamCategoryPoint.home.notFound">No teamCategoryPoints found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="teamCategoryPoints && teamCategoryPoints.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.teamCategoryPoint.points">Points</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.teamCategoryPoint.position">Position</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.teamCategoryPoint.teamDetailPoint">Team Detail Point</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.teamCategoryPoint.eventCategory">Event Category</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teamCategoryPoint of teamCategoryPoints; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/team-category-point', teamCategoryPoint.id, 'view']">{{ teamCategoryPoint.id }}</a>
          </td>
          <td>{{ teamCategoryPoint.points }}</td>
          <td>{{ teamCategoryPoint.position }}</td>
          <td>
            <div *ngIf="teamCategoryPoint.teamDetailPoint">
              <a [routerLink]="['/team-detail-point', teamCategoryPoint.teamDetailPoint?.id, 'view']">{{
                teamCategoryPoint.teamDetailPoint?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="teamCategoryPoint.eventCategory">
              <a [routerLink]="['/event-category', teamCategoryPoint.eventCategory?.id, 'view']">{{
                teamCategoryPoint.eventCategory?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/team-category-point', teamCategoryPoint.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/team-category-point', teamCategoryPoint.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(teamCategoryPoint)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
