<div>
  <h2 id="page-heading" data-cy="TeamHeading">
    <span jhiTranslate="pbpointsApp.team.home.title">Teams</span>

    <div class="d-flex justify-content-end">
      <!--<button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pbpointsApp.team.home.refreshListLabel">Refresh List</span>
      </button>-->
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-team"
        [routerLink]="['/team/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pbpointsApp.team.home.createLabel"> Create a new Team </span>
      </button>
      <button
        id="jh-create-entity-back"
        class="btn btn-primary float-right jh-create-entity create-city"
        (click)="Cancel()"
        data-toggle="tooltip"
        [title]="'global.menu.back' | translate"
      >
        <fa-icon [icon]="'arrow-left'"></fa-icon>
        <span jhiTranslate="global.menu.back">Back</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="teams?.length === 0">
    <span jhiTranslate="pbpointsApp.team.home.notFound">No teams found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="teams && teams.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <!--<th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th scope="col" jhiSortBy="logo"><span jhiTranslate="pbpointsApp.team.logo">Logo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="pbpointsApp.team.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" *jhiHasAnyAuthority="'ROLE_ADMIN'" jhiSortBy="owner.login">
            <span jhiTranslate="pbpointsApp.team.owner">Owner</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" *jhiHasAnyAuthority="'ROLE_ADMIN'" jhiSortBy="active">
            <span jhiTranslate="pbpointsApp.team.active">Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let team of teams; trackBy: trackId" data-cy="entityTable">
          <!--<td><a [routerLink]="['/team', team.id, 'view']">{{ team.id }}</a></td>-->
          <td>
            <a *ngIf="team.logo" (click)="openFile(team.logo, team.logoContentType)">
              <img [src]="'data:' + team.logoContentType + ';base64,' + team.logo" style="max-height: 30px" alt="team image" />
            </a>
            <!--<span *ngIf="team.logo">{{ team.logoContentType }}, {{ byteSize(team.logo) }}</span>-->
          </td>
          <td>{{ team.name }}</td>
          <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{ team.owner?.login }}</td>
          <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{ team.active }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/roster']" [state]="{ teId: team.id }" class="btn btn-info btn-sm">
                <span class="d-none d-md-inline" jhiTranslate="global.menu.custom.view.roster">Subs Team</span>
              </button>
              <button type="submit" [routerLink]="['/team-point']" [state]="{ teId: team.id }" class="btn btn-info btn-sm">
                <span class="d-none d-md-inline" jhiTranslate="global.menu.custom.view.teamPoints">Subs Team</span>
              </button>
              <!--<button type="submit" [routerLink]="['/team', team.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>-->

              <button type="submit" [routerLink]="['/team', team.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                (click)="delete(team)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
