<div>
  <h2 id="page-heading" data-cy="CategoryHeading">
    <span jhiTranslate="pbpointsApp.category.home.title">Categories</span>

    <div class="d-flex justify-content-end">
      <!--<button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pbpointsApp.category.home.refreshListLabel">Refresh List</span>
      </button>-->
      <button
        id="jh-create-entity-back"
        class="btn btn-primary float-right jh-create-entity create-category"
        (click)="Cancel()"
        data-toggle="tooltip"
        [title]="'global.menu.back' | translate"
      >
        <fa-icon [icon]="'arrow-left'"></fa-icon>
        <span jhiTranslate="global.menu.back">Back</span>
      </button>
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-category"
        [routerLink]="['/category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pbpointsApp.category.home.createLabel"> Create a new Category </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <br />
  <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
    <span jhiTranslate="pbpointsApp.category.home.notFound">No categories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="categories && categories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <!--<th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th scope="col" jhiSortBy="tournament.name">
            <span jhiTranslate="pbpointsApp.category.tournament">Tournament</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="pbpointsApp.category.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="pbpointsApp.category.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <!--<th scope="col" jhiSortBy="gameTimeType"> <span jhiTranslate="pbpointsApp.category.gameTimeType">Game Time Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="gameTime"><span jhiTranslate="pbpointsApp.category.gameTime">Game Time</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stopTimeType"><span jhiTranslate="pbpointsApp.category.stopTimeType">Stop Time Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stopTime"><span jhiTranslate="pbpointsApp.category.stopTime">Stop Time</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="totalPoints"><span jhiTranslate="pbpointsApp.category.totalPoints">Total Points</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="difPoints"><span jhiTranslate="pbpointsApp.category.difPoints">Dif Points</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th scope="col" jhiSortBy="order">
            <span jhiTranslate="pbpointsApp.category.order">Order</span> <fa-icon icon="sort"></fa-icon>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let category of categories; trackBy: trackId" data-cy="entityTable">
          <!--<td><a [routerLink]="['/category', category.id, 'view']">{{ category.id }}</a></td>-->
          <td>{{ category.tournament?.name }}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <!--td jhiTranslate="{{ 'pbpointsApp.TimeType.' + category.gameTimeType }}">{{ category.gameTimeType }}</td>
          <td>{{ category.gameTime }}</td>
          <td jhiTranslate="{{ 'pbpointsApp.TimeType.' + category.stopTimeType }}">{{ category.stopTimeType }}</td>
          <td>{{ category.stopTime }}</td>
          <td>{{ category.totalPoints }}</td>
          <td>{{ category.difPoints }}</td>-->
          <td>{{ category.order }}</td>

          <td class="text-right">
            <div class="btn-group">
              <!--<button
                type="submit"
                [routerLink]="['/category', category.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>-->

              <button
                *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'"
                type="submit"
                [routerLink]="['/category', category.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_OWNER_TOURNAMENT'"
                type="submit"
                (click)="delete(category)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
