<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tournament-group-heading"
        data-cy="TournamentGroupCreateUpdateHeading"
        jhiTranslate="pbpointsApp.tournamentGroup.home.createOrEditLabel"
      >
        Create or edit a Tournament Group
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.tournamentGroup.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.tournamentGroup.tournamentA" for="field_tournamentA"
            >Tournament A</label
          >
          <select class="form-control" id="field_tournamentA" data-cy="tournamentA" name="tournamentA" formControlName="tournamentA">
            <option *ngIf="!editForm.get('tournamentA')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                tournamentOption.id === editForm.get('tournamentA')!.value?.id ? editForm.get('tournamentA')!.value : tournamentOption
              "
              *ngFor="let tournamentOption of tournamentsSharedCollection; trackBy: trackTournamentById"
            >
              {{ tournamentOption.name }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['tournamentA'])!.invalid && (editForm.get(['tournamentA'])!.dirty || editForm.get(['tournamentA'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['tournamentA'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.tournamentGroup.tournamentB" for="field_tournamentB"
            >Tournament B</label
          >
          <select class="form-control" id="field_tournamentB" data-cy="tournamentB" name="tournamentB" formControlName="tournamentB">
            <option *ngIf="!editForm.get('tournamentB')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                tournamentOption.id === editForm.get('tournamentB')!.value?.id ? editForm.get('tournamentB')!.value : tournamentOption
              "
              *ngFor="let tournamentOption of tournamentsSharedCollection; trackBy: trackTournamentById"
            >
              {{ tournamentOption.name }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['tournamentB'])!.invalid && (editForm.get(['tournamentB'])!.dirty || editForm.get(['tournamentB'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['tournamentB'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
