<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-team-detail-point-heading"
        data-cy="TeamDetailPointCreateUpdateHeading"
        jhiTranslate="pbpointsApp.teamDetailPoint.home.createOrEditLabel"
      >
        Create or edit a Team Detail Point
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.teamDetailPoint.points" for="field_points">Points</label>
          <input type="number" class="form-control" name="points" id="field_points" data-cy="points" formControlName="points" />
          <div *ngIf="editForm.get('points')!.invalid && (editForm.get('points')!.dirty || editForm.get('points')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('points')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('points')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.teamDetailPoint.position" for="field_position">Position</label>
          <input type="number" class="form-control" name="position" id="field_position" data-cy="position" formControlName="position" />
          <div *ngIf="editForm.get('position')!.invalid && (editForm.get('position')!.dirty || editForm.get('position')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('position')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('position')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.teamDetailPoint.teamPoint" for="field_teamPoint">Team Point</label>
          <select class="form-control" id="field_teamPoint" data-cy="teamPoint" name="teamPoint" formControlName="teamPoint">
            <option *ngIf="!editForm.get('teamPoint')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="teamPointOption.id === editForm.get('teamPoint')!.value?.id ? editForm.get('teamPoint')!.value : teamPointOption"
              *ngFor="let teamPointOption of teamPointsSharedCollection; trackBy: trackTeamPointById"
            >
              {{ teamPointOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['teamPoint'])!.invalid && (editForm.get(['teamPoint'])!.dirty || editForm.get(['teamPoint'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['teamPoint'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.teamDetailPoint.eventCategory" for="field_eventCategory"
            >Event Category</label
          >
          <select
            class="form-control"
            id="field_eventCategory"
            data-cy="eventCategory"
            name="eventCategory"
            formControlName="eventCategory"
          >
            <option *ngIf="!editForm.get('eventCategory')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                eventCategoryOption.id === editForm.get('eventCategory')!.value?.id
                  ? editForm.get('eventCategory')!.value
                  : eventCategoryOption
              "
              *ngFor="let eventCategoryOption of eventCategoriesSharedCollection; trackBy: trackEventCategoryById"
            >
              {{ eventCategoryOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['eventCategory'])!.invalid && (editForm.get(['eventCategory'])!.dirty || editForm.get(['eventCategory'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['eventCategory'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
