<div>
  <h2 id="page-heading" data-cy="EventCategoryHeading">
    <span jhiTranslate="pbpointsApp.eventCategory.home.title">Event Categories</span>

    <div class="d-flex justify-content-end">
      <!--<button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pbpointsApp.eventCategory.home.refreshListLabel">Refresh List</span>
      </button>-->
      <button
        *ngIf="getEnableNew()"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-event-category"
        [routerLink]="['/event-category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pbpointsApp.eventCategory.home.createLabel"> Create a new Event Category </span>
      </button>
      <button
        id="jh-create-entity-back"
        class="btn btn-primary float-right jh-create-entity create-event-category"
        (click)="Cancel()"
        data-toggle="tooltip"
        [title]="'global.menu.back' | translate"
      >
        <fa-icon [icon]="'arrow-left'"></fa-icon>
        <span jhiTranslate="global.menu.back">Back</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <br />
  <div class="alert alert-warning" id="no-result" *ngIf="eventCategories?.length === 0">
    <span jhiTranslate="pbpointsApp.eventCategory.home.notFound">No eventCategories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="eventCategories && eventCategories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <!--<th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th scope="col" jhiSortBy="event.name">
            <span jhiTranslate="pbpointsApp.eventCategory.event">Event</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="category.name">
            <span jhiTranslate="pbpointsApp.eventCategory.category">Category</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="format.name">
            <span jhiTranslate="pbpointsApp.eventCategory.format">Format</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="splitDeck">
            <span jhiTranslate="pbpointsApp.eventCategory.splitDeck">Split Deck</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eventCategory of eventCategories; trackBy: trackId" data-cy="entityTable">
          <!--<td><a [routerLink]="['/event-category', eventCategory.id, 'view']">{{ eventCategory.id }}</a></td>-->

          <td>
            <div *ngIf="eventCategory.event">
              <div>{{ eventCategory.event?.name }}</div>
            </div>
          </td>
          <td>
            <div *ngIf="eventCategory.category">
              <div>{{ eventCategory.category?.name }}</div>
            </div>
          </td>
          <td>
            <div *ngIf="eventCategory.format">
              <div>{{ eventCategory.format?.name }}</div>
            </div>
          </td>
          <td>{{ eventCategory.splitDeck }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/game']"
                [queryParams]="{ ecatId: eventCategory.id }"
                class="btn btn-info btn-sm"
                data-toggle="tooltip"
                [title]="'global.menu.custom.view.games' | translate"
              >
                <!--<fa-icon [icon]="'calendar'"></fa-icon>-->
                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="global.menu.custom.view.games">View Games</span>
              </button>
              <button
                type="submit"
                [routerLink]="['/roster']"
                [queryParams]="{ evCatId: eventCategory.id }"
                class="btn btn-info btn-sm"
                data-toggle="tooltip"
                [title]="'global.menu.custom.view.roster' | translate"
              >
                <fa-icon [icon]="'users'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="global.menu.custom.view.roster">View Equipos</span>
              </button>
              <button
                *ngIf="enableUpdate()"
                type="submit"
                [routerLink]="['/roster/subs']"
                [queryParams]="{ evCatId: eventCategory.id }"
                class="btn btn-primary btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon [icon]="'plus-circle'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="global.menu.custom.subscribe.roster">Subs Team</span>
              </button>

              <button
                *ngIf="getEnableNew()"
                type="submit"
                [routerLink]="['/event-category', eventCategory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                *ngIf="getEnableNew()"
                type="submit"
                (click)="delete(eventCategory)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="eventCategories && eventCategories.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
