<div>
  <h2 id="page-heading" data-cy="PlayerPointHistoryHeading">
    <span jhiTranslate="pbpointsApp.playerPointHistory.home.title">Player Point Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pbpointsApp.playerPointHistory.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-player-point-history"
        [routerLink]="['/player-point-history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pbpointsApp.playerPointHistory.home.createLabel"> Create a new Player Point History </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="playerPointHistories?.length === 0">
    <span jhiTranslate="pbpointsApp.playerPointHistory.home.notFound">No playerPointHistories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="playerPointHistories && playerPointHistories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.playerPointHistory.points">Points</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.playerPointHistory.playerPoint">Player Point</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.playerPointHistory.category">Category</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.playerPointHistory.season">Season</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let playerPointHistory of playerPointHistories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/player-point-history', playerPointHistory.id, 'view']">{{ playerPointHistory.id }}</a>
          </td>
          <td>{{ playerPointHistory.points }}</td>
          <td>
            <div *ngIf="playerPointHistory.playerPoint">
              <a [routerLink]="['/player-point', playerPointHistory.playerPoint?.id, 'view']">{{ playerPointHistory.playerPoint?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="playerPointHistory.category">
              <a [routerLink]="['/category', playerPointHistory.category?.id, 'view']">{{ playerPointHistory.category?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="playerPointHistory.season">
              <a [routerLink]="['/season', playerPointHistory.season?.id, 'view']">{{ playerPointHistory.season?.anio }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/player-point-history', playerPointHistory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/player-point-history', playerPointHistory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(playerPointHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
