<div>
  <h2 id="page-heading" data-cy="MainRosterHeading">
    <span jhiTranslate="pbpointsApp.mainRoster.home.title">Main Rosters</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pbpointsApp.mainRoster.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-main-roster"
        [routerLink]="['/main-roster/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pbpointsApp.mainRoster.home.createLabel"> Create a new Main Roster </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="mainRosters?.length === 0">
    <span jhiTranslate="pbpointsApp.mainRoster.home.notFound">No mainRosters found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="mainRosters && mainRosters.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="team.name">
            <span jhiTranslate="pbpointsApp.mainRoster.team">Team</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userExtra.id">
            <span jhiTranslate="pbpointsApp.mainRoster.userExtra">User Extra</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let mainRoster of mainRosters; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/main-roster', mainRoster.id, 'view']">{{ mainRoster.id }}</a>
          </td>
          <td>
            <div *ngIf="mainRoster.team">
              <a [routerLink]="['/team', mainRoster.team?.id, 'view']">{{ mainRoster.team?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="mainRoster.userExtra">
              <a [routerLink]="['/user-extra', mainRoster.userExtra?.id, 'view']">{{ mainRoster.userExtra?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/main-roster', mainRoster.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/main-roster', mainRoster.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(mainRoster)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
