<div class="row">
  <div class="col-md-12">
    <!-- <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>-->
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <h1 class="from-control-plaintext display-4" jhiTranslate="home.title">Welcome</h1>
    <div [ngSwitch]="isAuthenticated()">
      <div *ngSwitchCase="true">
        <h1 class="display-6">{{ account?.lastName }}, {{ account?.firstName }}</h1>
        <!--<div class="alert alert-success">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
              </div>-->
      </div>
    </div>
    <div>
      <h1 class="form-control-plaintext display-8" jhiTranslate="home.event.next">Next Event</h1>
    </div>
    <!-- Mostrando Eventos -->
    <div class="alert alert-warning" *ngIf="events?.length === 0">
      <span jhiTranslate="pbpointsApp.event.home.notFound">No events found</span>
    </div>
    <div class="table-responsive" *ngIf="events && events.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col"><span jhiTranslate="home.tournament.logo">Logo</span></th>
            <th scope="col"><span jhiTranslate="home.event.tournament">Tournament</span></th>
            <th scope="col"><span jhiTranslate="home.event.event">Event</span></th>
            <th scope="col"><span jhiTranslate="home.event.city">City</span></th>
            <th scope="col"><span jhiTranslate="home.event.fromDate">From Date</span></th>
            <th scope="col"><span jhiTranslate="home.event.endDate">End Date</span></th>
            <th scope="col"><span jhiTranslate="home.event.endInscriptionDate">End Inscription Date</span></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events; trackBy: trackId" data-cy="entityTable">
            <td>
              <img
                [src]="'data:' + event.tournament?.logoContentType + ';base64,' + event.tournament?.logo"
                style="max-height: 30px"
                alt="tournament image"
              />
            </td>
            <td>{{ event.tournament?.name }}</td>
            <td>{{ event.name }}</td>
            <td>{{ event.city?.name }}</td>
            <td>{{ event.fromDate | formatMediumDate }}</td>
            <td>{{ event.endDate | formatMediumDate }}</td>
            <td>{{ event.endInscriptionDate | formatMediumDate }}</td>
            <td class="text-right">
              <div class="btn-group">
                <div *ngIf="isAuthenticated()">
                  <button
                    type="submit"
                    [routerLink]="['/event-category']"
                    [queryParams]="{ evId: event.id }"
                    class="btn btn-primary btn-sm"
                    data-toggle="tooltip"
                    [title]="'global.menu.custom.view.category' | translate"
                  >
                    <fa-icon [icon]="'list'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="global.menu.custom.view.category">Categories</span>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h1 class="form-control-plaintext display-8" jhiTranslate="home.event.old">Old Event</h1>
    </div>
    <!-- Eventos Finalizados -->
    <!-- Mostrando Eventos -->
    <div class="alert alert-warning" *ngIf="eventsOld?.length === 0">
      <span jhiTranslate="pbpointsApp.event.home.notFound">No events found</span>
    </div>
    <div class="table-responsive" *ngIf="eventsOld && eventsOld.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col"><span jhiTranslate="home.tournament.logo">Logo</span></th>
            <th scope="col"><span jhiTranslate="home.event.tournament">Tournament</span></th>
            <th scope="col"><span jhiTranslate="home.event.event">Event</span></th>
            <th scope="col"><span jhiTranslate="home.event.city">City</span></th>
            <th scope="col"><span jhiTranslate="home.event.fromDate">From Date</span></th>
            <th scope="col"><span jhiTranslate="home.event.endDate">End Date</span></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of eventsOld; trackBy: trackId">
            <td>
              <img
                [src]="'data:' + event.tournament?.logoContentType + ';base64,' + event.tournament?.logo"
                style="max-height: 30px"
                alt="tournament image"
              />
            </td>
            <td>{{ event.tournament?.name }}</td>
            <td>{{ event.name }}</td>
            <td>{{ event.city?.name }}</td>
            <td>{{ event.fromDate | formatMediumDate }}</td>
            <td>{{ event.endDate | formatMediumDate }}</td>
            <td class="text-right">
              <div class="btn-group">
                <div *ngIf="isAuthenticated()">
                  <button
                    type="submit"
                    [routerLink]="['/event-category']"
                    [queryParams]="{ evId: event.id }"
                    class="btn btn-primary btn-sm"
                    data-toggle="tooltip"
                    [title]="'global.menu.custom.view.category' | translate"
                  >
                    <fa-icon [icon]="'list'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="global.menu.custom.view.category">Categories</span>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Fin Eventos Finalizados -->
  </div>
</div>
