<div class="row justify-content-center">
  <div class="col-8">
    <form name="findForm" role="form" novalidate [formGroup]="findForm">
      <h2 id="jhi-roster-heading" data-cy="RosterCreateSearchHeading" jhiTranslate="pbpointsApp.roster.search.home.title">Title</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <br />
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.roster.eventCategory" for="field_eventCategory">Event Category</label>
          <select
            class="form-control"
            id="field_eventCategory"
            data-cy="eventCategory"
            name="eventCategory"
            formControlName="eventCategory"
            (ngModelChange)="onChange()"
          >
            <option *ngIf="!findForm.get('eventCategory')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                eventCategoryOption.id === findForm.get('eventCategory')!.value?.id
                  ? findForm.get('eventCategory')!.value
                  : eventCategoryOption
              "
              *ngFor="let eventCategoryOption of eventCategoriesSharedCollection; trackBy: trackEventCategoryById"
            >
              {{ eventCategoryOption.event?.tournament?.name }} - {{ eventCategoryOption.event?.name }} (
              {{ eventCategoryOption.category?.name }} )
            </option>
          </select>
        </div>
        <div
          *ngIf="
            findForm.get(['eventCategory'])!.invalid && (findForm.get(['eventCategory'])!.dirty || findForm.get(['eventCategory'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="findForm.get(['eventCategory'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>
      <div class="alert alert-warning" id="no-result" *ngIf="rosters?.length === 0">
        <span jhiTranslate="pbpointsApp.roster.home.notFound">No rosters found</span>
      </div>
      <div class="table-responsive" id="entities" *ngIf="rosters && rosters.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
              <th scope="col"><span jhiTranslate="pbpointsApp.roster.search.category">Category</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"><span jhiTranslate="pbpointsApp.roster.search.team">Team</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"><span jhiTranslate="pbpointsApp.roster.search.picture">Picture</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"><span jhiTranslate="pbpointsApp.roster.search.player">Player</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"><span jhiTranslate="pbpointsApp.roster.search.category">Category</span> <fa-icon icon="sort"></fa-icon></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let roster of rosters; trackBy: trackRosterId" data-cy="entityTable">
              <tr *ngFor="let player of players; trackBy: trackPlayerId">
                <ng-container *ngIf="roster.id == player.roster?.id">
                  <td>{{ roster.eventCategory?.category?.name }}</td>
                  <td>{{ roster.team?.name }}</td>
                  <ng-container *ngFor="let userextra of userExtras; trackBy: trackUserExtraId">
                    <ng-container *ngIf="player.user?.id == userextra.id">
                      <td>
                        <ng-container *ngIf="userextra.picture" (click)="openFile(userextra.picture, userextra.pictureContentType)">
                          <img
                            [src]="'data:' + userextra.pictureContentType + ';base64,' + userextra.picture"
                            style="max-height: 70px"
                            alt="userextra image"
                          />
                        </ng-container>
                      </td>
                    </ng-container>
                  </ng-container>
                  <td>{{ player.user?.lastName }}, {{ player.user?.firstName }}</td>
                  <td>{{ player.category?.name }}</td>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </form>
    <br />
  </div>
</div>
