<div class="row justify-content-center">
  <div class="col-8">
    <form name="findForm" role="form" novalidate [formGroup]="findForm">
      <h2 id="jhi-roster-heading" data-cy="RosterCreateSearchHeading" jhiTranslate="pbpointsApp.roster.search.home.title">Title</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <br />
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.roster.eventCategory" for="field_eventCategory">Event Category</label>
          <select
            class="form-control"
            id="field_eventCategory"
            data-cy="eventCategory"
            name="eventCategory"
            formControlName="eventCategory"
            (ngModelChange)="onChange()"
          >
            <option
              [ngValue]="
                eventCategoryOption.id === findForm.get('eventCategory')!.value?.id
                  ? findForm.get('eventCategory')!.value
                  : eventCategoryOption
              "
              *ngFor="let eventCategoryOption of filterEventCategoryFunction(); trackBy: trackEventCategoryById"
            >
              {{ eventCategoryOption.event?.tournament?.name }} - {{ eventCategoryOption.event?.name }} (
              {{ eventCategoryOption.category?.name }} )
            </option>
          </select>
        </div>
        <div
          *ngIf="
            findForm.get(['eventCategory'])!.invalid && (findForm.get(['eventCategory'])!.dirty || findForm.get(['eventCategory'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="findForm.get(['eventCategory'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>
      <div class="alert alert-warning" id="no-result" *ngIf="rosters?.length === 0">
        <span jhiTranslate="pbpointsApp.roster.home.notFound">No rosters found</span>
      </div>
      <div class="table-responsive" id="entities" *ngIf="rosters && rosters.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr style="allign-left" jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
              <!--<th scope="col" style="height: 20%">
                <span jhiTranslate="pbpointsApp.roster.search.category">Category</span>
              </th>-->
              <th scope="col" style="height: 20%">
                <span jhiTranslate="pbpointsApp.roster.search.team">Team</span>
              </th>
              <th scope="col" style="height: 20%">
                <span jhiTranslate="pbpointsApp.roster.search.picture">Picture</span>
              </th>
              <th scope="col" style="height: 20%">
                <span jhiTranslate="pbpointsApp.roster.search.player">Player</span>
              </th>
              <th scope="col" style="height: 20%">
                <span jhiTranslate="pbpointsApp.roster.search.category">Category</span>
              </th>
              <th scope="col" style="height: 20%">
                <span jhiTranslate="pbpointsApp.roster.search.profile">Profile</span>
              </th>
              <th scope="col" style="height: 20%">
                <span>Control</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let roster of rosters; trackBy: trackRosterEventId" data-cy="entityTable">
              <td style="height: 20%; text-align: left">{{ roster.teamName }}</td>
              <td style="height: 20%; text-align: left">
                <ng-container *ngIf="roster.playerPicture" (click)="openFile(roster.playerPicture, roster.playerPictureContentType)">
                  <img
                    [src]="'data:' + roster.playerPictureContentType + ';base64,' + roster.playerPicture"
                    style="max-height: 70px"
                    alt="player image"
                  />
                </ng-container>
              </td>
              <td style="height: 20%; text-align: left">{{ roster.playerName }}</td>
              <td style="height: 20%; text-align: left">{{ roster.playerCategory }}</td>
              <td style="height: 20%; text-align: left" jhiTranslate="{{ 'pbpointsApp.ProfileUser.' + roster.playerProfile }}">
                {{ roster.playerProfile }}
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
    <br />
  </div>
</div>
