<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-heading" data-cy="EventCreateUpdateHeading" jhiTranslate="pbpointsApp.event.home.createOrEditLabel">
        Create or edit a Event
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <!--<div class="form-group" [hidden]="!editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>-->
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.event.tournament" for="field_tournament">Tournament</label>
          <select class="form-control" id="field_tournament" data-cy="tournament" name="tournament" formControlName="tournament">
            <!--<option [ngValue]="null"></option>-->
            <option
              [ngValue]="
                tournamentOption.id === editForm.get('tournament')!.value?.id ? editForm.get('tournament')!.value : tournamentOption
              "
              *ngFor="let tournamentOption of tournamentsSharedCollection; trackBy: trackTournamentById"
            >
              {{ tournamentOption.name }}
            </option>
          </select>
        </div>
        <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.event.season" for="field_season">Season</label>
          <select class="form-control" id="field_season" data-cy="season" name="season" formControlName="season">
            <!--<option *ngIf="!editForm.get('season')!.value" [ngValue]="null" selected></option>-->
            <option
              [ngValue]="seasonOption.id === editForm.get('season')!.value?.id ? editForm.get('season')!.value : seasonOption"
              *ngFor="let seasonOption of seasonsSharedCollection; trackBy: trackSeasonById"
            >
              {{ seasonOption.anio }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['season'])!.invalid && (editForm.get(['season'])!.dirty || editForm.get(['season'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['season'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.event.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.event.field" for="field_field">Field</label>
          <select class="form-control" id="field_field" data-cy="field" name="field" formControlName="field">
            <!--<option [ngValue]="null"></option>-->
            <option
              [ngValue]="fieldOption.id === editForm.get('field')!.value?.id ? editForm.get('field')!.value : fieldOption"
              *ngFor="let fieldOption of fieldsSharedCollection; trackBy: trackFieldById"
            >
              {{ fieldOption.name }}, {{ fieldOption.city?.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.event.fromDate" for="field_fromDate">From Date</label>
          <div class="input-group">
            <input
              id="field_fromDate"
              data-cy="fromDate"
              type="date"
              class="form-control"
              name="fromDate"
              formControlName="fromDate"
              placeholder="YYYY-MM-DD"
            />
            <!--<span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="fromDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>-->
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.event.endDate" for="field_endDate">End Date</label>
          <div class="input-group">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="date"
              class="form-control"
              name="endDate"
              formControlName="endDate"
              placeholder="YYYY-MM-DD"
              (change)="onEndDateChange()"
            />
            <!--<span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>-->
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.event.startInscriptionDate" for="field_startInscriptionDate"
            >Start Inscription Date</label
          >
          <div class="input-group">
            <input
              id="field_startInscriptionDate"
              data-cy="startInscriptionDate"
              type="date"
              class="form-control"
              name="startInscriptionDate"
              formControlName="startInscriptionDate"
              placeholder="YYYY-MM-DD"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.event.endInscriptionDate" for="field_endInscriptionDate"
            >End Inscription Date</label
          >
          <div class="input-group">
            <input
              id="field_endInscriptionDate"
              data-cy="endInscriptionDate"
              type="date"
              class="form-control"
              name="endInscriptionDate"
              formControlName="endInscriptionDate"
              placeholder="YYYY-MM-DD"
            />
            <!--<span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="endInscriptionDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>-->
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.event.endInscriptionPlayersDate" for="field_endInscriptionPlayersDate"
            >End Inscription Players Date</label
          >
          <div class="input-group">
            <input
              id="field_endInscriptionPlayersDate"
              data-cy="endInscriptionPlayersDate"
              type="date"
              class="form-control"
              name="endInscriptionPlayersDate"
              formControlName="endInscriptionPlayersDate"
              placeholder="YYYY-MM-DD"
            />
            <!--<span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="endInscriptionDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>-->
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.event.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option *ngFor="let status of statusValues" [value]="status">{{ 'pbpointsApp.Status.' + status | translate }}</option>
          </select>
        </div>

        <!--<div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.event.createDate" for="field_createDate">Create Date</label>
          <div class="d-flex">
            <input
              id="field_createDate"
              data-cy="createDate"
              type="datetime-local"
              class="form-control"
              name="createDate"
              formControlName="createDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>-->

        <!--<div class="form-group">
          <label class="form-control-label" jhiTranslate="pbpointsApp.event.updatedDate" for="field_updatedDate">Updated Date</label>
          <div class="d-flex">
            <input
              id="field_updatedDate"
              data-cy="updatedDate"
              type="datetime-local"
              class="form-control"
              name="updatedDate"
              formControlName="updatedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>-->
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
