<div>
  <h2 id="page-heading" data-cy="PlayerHeading">
    <span jhiTranslate="pbpointsApp.player.home.title">Players</span>

    <div class="d-flex justify-content-end">
      <!--<button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pbpointsApp.player.home.refreshListLabel">Refresh List</span>
      </button>-->
      <!--<button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-player"
        [routerLink]="['/player/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pbpointsApp.player.home.createLabel"> Create a new Player </span>
      </button>-->
      <button
        id="jh-create-entity-back"
        class="btn btn-primary float-right jh-create-entity create-province"
        (click)="Cancel()"
        data-toggle="tooltip"
        [title]="'global.menu.back' | translate"
      >
        <fa-icon [icon]="'arrow-left'"></fa-icon>
        <span jhiTranslate="global.menu.back">Back</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="players?.length === 0">
    <span jhiTranslate="pbpointsApp.player.home.notFound">No players found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="players && players.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <!--<th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th scope="col" style="height: 20%">
            <span jhiTranslate="pbpointsApp.player.picture">Picture</span>
          </th>
          <th scope="col"><span jhiTranslate="pbpointsApp.player.user">User</span></th>
          <th scope="col"><span jhiTranslate="pbpointsApp.player.profile">Profile</span></th>
          <!--<th scope="col"><span jhiTranslate="pbpointsApp.player.roster">Roster</span></th>-->
          <th scope="col"><span jhiTranslate="pbpointsApp.player.category">Category</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let player of players; trackBy: trackId" data-cy="entityTable">
          <ng-container *ngFor="let userextra of filterUserExtraFunction(player.user?.id!); trackBy: trackUserExtraId">
            <ng-container *ngIf="player.user?.id == userextra.id">
              <td style="height: 20%; text-align: left">
                <ng-container *ngIf="userextra.picture" (click)="openFile(userextra.picture, userextra.pictureContentType)">
                  <img
                    [src]="'data:' + userextra.pictureContentType + ';base64,' + userextra.picture"
                    style="max-height: 70px"
                    alt="userextra image"
                  />
                </ng-container>
              </td>
            </ng-container>
          </ng-container>
          <td>{{ player.user?.lastName }}, {{ player.user?.firstName }}</td>
          <td jhiTranslate="{{ 'pbpointsApp.ProfileUser.' + player.profile }}">{{ player.profile }}</td>
          <!--<td>{{ player.roster?.id }}</td>-->
          <td>{{ player.category?.name }}</td>
          <td class="text-right">
            <div class="btn-group" *ngIf="isTheOwner(player.roster?.team?.owner?.id!)">
              <!--<button type="submit" [routerLink]="['/player', player.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>-->

              <button type="submit" (click)="delete(player)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
